.main-firstPost{
    flex-direction: column;
    height: 500px;
}

.cards{
    margin-top: 1.5rem;
}

.card{
    position: relative;
    width: 275px;
    height: 385px;
    background-color: white;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    box-shadow: var(--shadow-card);
    flex-direction: column;
    padding-bottom: 5px;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.img-card-first{
    width: 150%;
    height: 205px;
    transition: width .3s ease;
} 

.card:hover .img-card-first{
    width: 170%;
}

.article-card{
    padding: .5rem 1rem;
}

.title-card{
    color: var(--title-dark-color);
    margin-bottom: .75rem;
}

.p-card{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    margin-bottom: .75rem;
}