.main-drugsPost{
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-direction: column;
  height: auto;
  background-color: var(--color-dark);
}

.card-drugs {
  box-shadow: var(--shadow-card);
}