.img-post{
    height: auto;
}

.title-post{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.social-post{
    background-color: rgba(0, 0, 0, .7);
    padding: .4rem;
    width: 150px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    margin-bottom: .5rem;
}

.icon-post{
    opacity: .7;
    width: 25px;
}

.comments{
    background-color: var(--bg-color-dark);
    margin-top: 2rem;
}

.title-post{
    text-align: center;
}

.p-article{
    line-height: 1.4em;
    text-align: left;
    margin-top: 1rem;
}

.author{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.img-author{
    margin-right: 1rem;
}

.img-author{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.p-author{
    margin-top: .5rem;
}
