.menu-container{
    position: relative;
    box-shadow: var(--shadow);
    z-index: 20;
}
.main-menu {
    height: 90px;
}

.logo-menu{
    width: 200px;
}

.nav-menu{
    width: 50%;
}

.menu-item {
    transition: padding-bottom .3s;
}

.menu-item:hover {
    padding-bottom: 10px;
}