.main-secondposts{
    flex-direction: column;
    padding: 1rem;
    background-color: var(--color-dark);
}

.img-card{
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-card-article{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-article{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(12, 46, 65, .7);
    flex-direction: column;
    opacity: 1;
    transition: backdrop-filter .5s ease, background-color .5s ease;
    backdrop-filter: blur(5px);
}

.card-title{
    margin-bottom: 1rem;
}

.card-article:hover{
    backdrop-filter: blur(0);
    background-color: transparent;
}

.a-secondpost {
    background-color: var(--bg-color-dark);
    padding: .5rem;
    border-radius: 5px;
    font-weight: 400;
}