.footer-main{
    background-color: var(--color-dark);
}

.footer{
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media (width < 770px) {
    .footer {
        grid-template-columns: 1fr;
    }
}

.footer-one, .footer-two, .footer-three{
    justify-self: center;
    width: 300px;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
}

.title-one, .title-two, .title-three{
    margin-bottom: 1rem;
    text-align: center;
}

.adress{
    width: 80%;
}

.p-address{
    margin-bottom: .5rem;
}

.social{
    margin-top: .75rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.social-footer{
    opacity: .6;
    width: 50%;
    margin-top: .5rem;
    margin-right: 1rem;
}

.footer-list li{
    margin-bottom: .5rem;
}

.ddrr{
    color: rgba(217, 217, 217, 0.5) ;
    border-top: 1px solid;
}

.ddrr p{
    padding-top: .5rem;
    margin-bottom: .5rem;
    color: rgba(217, 217, 217, 0.5) ;
}

.footer-three{
    display: flex;
    align-items: center;
}

.logo-uno, .logo-dos {
    width: 250px;
    margin-bottom: 1.5rem;
}

.p-copi {
    font-size: .8rem;
}

.menu-footer {
    font-weight: 200;
}

.item-footer-menu {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: .7rem;
}

.item-footer-menu:first-child {
    margin-top: .7rem;
}

.item-footer-menu:last-child {
    margin-bottom: 0;
}