.action, .actionDos{
    height: 250px;
}
.img-action{
    width: 420px;
    height: 250px;
}

.p-action{
    font-size: .85rem;
    margin-top: 1rem;
}

.article-prevention{
    width: 450px;
    padding: 1.5rem;
}