.comments {
  flex-direction: column;
  padding: 1rem 0;
}

.comments-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: start;
  width: 60%;
}

.label-form {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  margin-top: 1rem;
}

.input-form, .text-form {
  background-color: var(--bg-color);
  width: 100%;
  border-radius: 5px;
  color: var(--color-dark);
  padding: .2rem 0 .2rem .5rem;
  margin-top: .5rem;
}

.text-form {
  outline: none;
  padding: 1rem;
}

.button-form {
  cursor: pointer;
  background-color: #f32b08;
  color: var(--bg-color);
  padding: 1rem .7rem;
  margin-top: 1rem;
  border-radius: var(--btn-border-radius);
}

.last-comments {
  background-color: var(--color-dark);
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.article-comment {
  margin-top: 1rem;
  text-align: justify;
  display: flex;
  width: 75%;
  justify-content: center;
  background: var(--bg-color);
  align-items: center;
  padding: .7rem;
  box-shadow: var(--shadow);
  border-radius: var(--btn-border-radius);
}

.initial-comment {
  background-color: #f32b08;
  color: var(--bg-color);
  font-size: 3.8rem;
  font-weight: 600;
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-15deg);
}

.content-comment {
  width: calc(100% - 100px);
  overflow: hidden;
}

.name-comment {
  font-size: 1rem;
  color: var(--color-dark);
  font-weight: 600;
}

.comment {
  margin-top: .3rem;
  border-top: .2px solid #f32b08;
  padding-top: .5rem;
  font-size: .8rem;
}