.container{
    margin-left: auto;
    margin-right: auto;
    width: 904px; 
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-dark{
    background-color: var(--bg-color-dark);
}

.bg-light{
    background-color: var(--bg-color);
}

.bg-gradient{
    background-image: linear-gradient(to right, white, rgba(58, 109, 136, 1));
}

.title-dark{
    color: var(--title-dark-color);
    font-weight: 600;
    text-shadow: var(--shadow);
}

.title-light{
    color: var(--title-light-color);
    font-weight: 600;
    text-shadow: var(--shadow);
}

.title-mid{
    color: var(--bg-color-mid);
}

.title-load{
    color: rgb(163, 163, 163)
}

.paragraph{
    color: var(--p-color);
}

.paragraph-light{
    color: var(--a-color-light);
}

.paragraph-mid{
    color: var(--p-color-op)
}

.img-container{
    overflow: hidden;
}

.a-light{
    color: var(--a-color-light);
}

.a-dark{
    color: var(--a-color-dark)
}

.a-hover-dark:hover{
    color: var(--color-dark);
}

.button-dark{
    background-color: var(--bg-color-mid);
    color: var(--a-color-light);
    border-radius: var(--btn-border-radius);
    padding: 1rem 1.5rem;
    margin: 1rem 0;
}

.button-light{
    background-color: var(--bg-color-light);
    color: var(--a-color-dark);
    border-radius: var(--btn-border-radius);
    padding: .75rem 1.5rem;
    margin: 1rem 0;
}

.contrast{
    background: rgba(0, 0, 0, .30);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.separator{
    background-color: var(--bg-color);
    height: 85%;
    width: 1px;
}

.error{
    color: tomato;
}

.success{
    color: greenyellow;
}

.tracking-in-expand{
    animation:tracking-in-expand 0.7s linear both
}

@keyframes tracking-in-expand{
    0%{letter-spacing:-.2em;opacity:0}
    40%{opacity:.6}
    100%{opacity:1}
}

.blur-in{
    animation:blur-in 0.4s linear;
    animation-delay: 3s;
}

@keyframes blur-in{
    30%{filter:blur(12px);opacity:0}
    100%{filter:blur(0);opacity:1}
}

.rotate-vertical-center{
    animation:rotate-vertical-center 6s;
    animation-delay: 3s;
}

@keyframes rotate-vertical-center{
    0%{transform:rotateY(0)}
    100%{transform:rotateY(360deg)}
}