@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: rgb(249, 249, 249);
    --color-principal: rgba(58, 109, 136, 1);
    --color-dark: rgba(12, 46, 65, 1);
    --bg-color-dark: var(--color-principal);
    --bg-color-mid: rgb(76, 156, 199);
    --bg-color-mid-op: rgba(7, 145, 223, .5);
    --bg-color-light: white;
    --a-color-dark: var(--bg-color-mid);
    --a-color-light: var(--bg-color-light);
    --p-color: rgb(33, 25, 21);
    --title-dark-color: var(--color-principal);
    --title-light-color: white;
    --card-border-radius: 15px;
    --btn-border-radius: 8px;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --shadow-card: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    list-style: none;
}

h1,h2,h3{
    margin: 0; 
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.1rem;
}

p{
    font-size: 1rem;
}

input{
    all: unset;
}

img{
    width: 100%;
}

button{
    all: unset;
}